{
  "server": "",
  "port": 27183,
  "name": "",
  "token": "",
  "bind": "0.0.0.0",
  "p2p_port": 0,
  "log_level": 2,
  "auto_start": false,
  "auto_login": false,
  "language": "zh_CN",
  "theme": "light"
} 